body {
    background-color: #EEF9BF;
}

header {
    color: #75B79E;
    font-size: 56px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    background-color: aqua;
}

/*.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    background-color: aqua;
}*/

.tabuleiro {

    display: flex;
    align-items: center;
    justify-content: center;
}

.carta {
    width: 117px;
    height: 146px;
    border-radius: 5px;
    background-color: #A7E9AF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carta img {
    height: 100px;
    width: 100px;
}