body {
    background-color: #EEF9BF;
}

header {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #75B79E;
    margin: 50px auto 50px auto;
    font-size: 56px;
    text-align: center;
}

.carta img {
    height: 100px;
    width: 100px;
}

.tabuleiro {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 60px auto;
}

.carta-desvirada {
    width: 117px;
    height: 146px;
    border-radius: 5px;
    background-color: #A7E9AF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carta-desvirada img {
    height: 100px;
    width: 100px;
}

.carta {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 117px;
    height: 146px;
    background-color: #A7E9AF; 
    border: 1px solid #99CEA8;
    margin-left: 35px;
    margin-top: 40px;
    border-radius: 5px;
    position: relative;
    transform-style: preserve-3d;
    transition: all .4s;
}
.verso,
.frente {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    backface-visibility: hidden;
}
.carta.virada {
    transform: rotateY(180deg);
}

.verso{
    transform: rotateY(-180deg);
}

@media (max-width:600px){
    .tabuleiro{
        width: 30%;
        margin: 0 auto;
        flex-direction: column;
    }
    .carta:last-child{
        margin-bottom: 40px;
    }
}